@import url("https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  font-weight: 300;
  font-size: 30%;
  margin: 8px 16px;
}

h1, h2, h3 {
  font-family: "Federo", sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 400;
}

.titulo {
  font-size: 4.5em;
  margin-top: 16px;
}

.subtitulo {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 3em;
  margin-top: 8px;
}

h3 {
  font-size: 3.5em;
}

.btn-dark {
  background-color: black;
  border: none;
}

.btn-dark:hover {
  background-color: #858585;
}

.btn-dark:focus {
  background-color: #858585;
}

@media (min-width: 768px) {
  body {
    font-size: 70%;
    margin: 16px 32px;
  }
  .titulo {
    margin-top: 56px;
  }
  .subtitulo {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 100%;
    margin: 16px 40px;
  }
  .titulo {
    margin-top: 72px;
  }
  .subtitulo {
    margin-top: 40px;
  }
}
a img {
  width: 48px;
}
a img:hover {
  transform: scale(0.9, 0.9);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
}
ul li div a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5em;
}

.btn-close {
  width: 2em;
  height: 2em;
}

.navbar {
  padding-bottom: 8px;
  border-bottom: 1px solid #858585;
}

.offcanvas-header {
  justify-content: end;
}

@media (min-width: 768px) {
  a img {
    width: 56px;
  }
  ul li div a {
    font-size: 1.2em;
  }
  .navbar {
    padding-bottom: 8px;
    border-bottom: 2px solid #858585;
  }
}
@media (min-width: 1200px) {
  a img {
    width: 72px;
  }
}
.redes {
  display: flex;
  justify-content: center;
  border-top: 1px solid #858585;
  margin-top: auto;
}
.redes ul {
  width: 128px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 8px;
}
.redes ul img {
  width: 32px;
}
.redes ul img:hover {
  transform: scale(0.9, 0.9);
}

@media (min-width: 768px) {
  .redes {
    border-top: 2px solid #858585;
  }
  .redes ul {
    width: 200px;
  }
  .redes ul img {
    width: 48px;
  }
}
.landing {
  color: white;
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.landing .navbar a {
  color: #858585;
}
.landing .navbar a:hover {
  color: #D9D9D9;
}
.landing h1 {
  margin-top: 112px;
}

@media (min-width: 768px) {
  .landing h1 {
    margin-top: 176px;
  }
  .landing h2 {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .landing h1 {
    margin-top: 192px;
  }
  .landing h2 {
    margin-top: 24px;
  }
}
.about p {
  font-size: 2.5em;
}
.about .primerP {
  margin-top: 24px;
}

form {
  margin-top: 8px;
}
form label {
  font-size: 2em;
}

@media (min-width: 768px) {
  .about p {
    font-size: 1.5em;
  }
  .about .primerP {
    margin-top: 48px;
  }
  form {
    margin-top: 16px;
  }
  form label {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
  .about .primerP {
    margin-top: 64px;
  }
  form {
    margin-top: 24px;
  }
}
.galeria {
  padding-bottom: 24px;
}
.galeria h2 {
  font-size: 3.5em;
  margin-top: 16px;
}
.galeria p {
  font-size: 2.5em;
  margin-top: 4px;
}
.galeria .modal-body {
  display: block;
}
.galeria .modal-body .carousel-control-prev-icon, .galeria .modal-body .carousel-control-next-icon {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .galeria {
    padding-bottom: 56px;
  }
  .galeria h2 {
    font-size: 2.5em;
  }
  .galeria p {
    font-size: 1.5em;
  }
  .galeria .torreP {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=estilos.css.map */