@import url("https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30%;
  background-color: #f0f0f0;
  margin: 8px 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
ul li div {
  padding: 8px;
}
ul li div a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}
ul li div a img {
  width: 24px;
}
ul li div:hover {
  border-radius: 5px;
}

h1, h3 {
  font-family: "Federo", sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 400;
}

.titulo {
  font-size: 4.5em;
  margin-top: 32px;
}

.subtitulo {
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 70%;
    margin: 16px 32px;
  }
  ul li div a img {
    width: 56px;
  }
  .titulo {
    margin-top: 72px;
  }
  .subtitulo {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 100%;
    margin: 16px 40px;
  }
  ul li div a img {
    width: 72px;
  }
  .titulo {
    margin-top: 88px;
  }
  .subtitulo {
    margin-top: 56px;
  }
}
.navigation {
  padding-bottom: 8px;
  border-bottom: 1px solid #858585;
}
.navigation a {
  color: black;
}
.navigation a:hover {
  color: black;
}
.navigation div:hover {
  background-color: #D9D9D9;
}

@media (min-width: 768px) {
  .navigation {
    padding-bottom: 16px;
    border-bottom: 2px solid #858585;
  }
}
.landing {
  color: white;
  background-image: url(../imagenes/fondola.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 104px;
}
.landing h2 {
  font-size: 2em;
  margin-top: 16px;
}
.landing ul {
  margin-top: 176px;
  margin-bottom: 272px;
}
.landing ul a {
  color: white;
}
.landing ul a:hover {
  color: white;
}
.landing ul div:hover {
  background-color: #A3A3A3;
}

@media (min-width: 768px) {
  .landing {
    margin-top: 176px;
  }
  .landing h2 {
    margin-top: 40px;
  }
  .landing ul {
    margin-top: 184px;
    margin-bottom: 432px;
  }
}
@media (min-width: 1200px) {
  .landing {
    margin-top: 192px;
  }
  .landing h2 {
    margin-top: 24px;
  }
  .landing ul {
    margin-top: 96px;
  }
}
.about p {
  font-size: 2.25em;
  margin-top: 24px;
}
.about ul {
  justify-content: left;
}
.about ul img {
  width: 24px;
  margin-top: 72px;
}
.about ul img:hover {
  transform: scale(0.8, 0.8);
}

.contact label {
  font-size: 2em;
}
.contact input[type=submit] {
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  border: none;
}
.contact input[type=submit]:hover {
  background-color: #858585;
}
.contact ul {
  justify-content: left;
}
.contact ul img {
  width: 32px;
  margin-top: 24px;
}
.contact ul img:hover {
  transform: scale(0.8, 0.8);
}

@media (min-width: 768px) {
  .about p {
    margin-top: 48px;
    font-size: 1.5em;
  }
  .about ul img {
    width: 48px;
    margin-top: 80px;
  }
  .contact label {
    font-size: 1.5em;
  }
  .contact ul img {
    width: 40px;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .about p {
    margin-top: 64px;
  }
  .about ul img {
    width: 56px;
    margin-top: 112px;
  }
  .contact label {
    font-size: 1em;
  }
  .contact ul img {
    width: 48px;
  }
}
.galeria img {
  border: 3px solid #858585;
}
.galeria h3 {
  font-size: 3.5em;
  margin-top: 16px;
}
.galeria p {
  font-size: 2.5em;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .galeria h3 {
    font-size: 2.5em;
  }
  .galeria p {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=estilos.css.map */