@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;600&display=swap');

* {margin: 0; padding: 0}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30%;
    background-color: #f0f0f0;
    margin: 8px 16px;
}



ul {list-style-type: none;}
li {display: inline;}
a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 8px;;
    border-bottom: 1px solid #858585;
}
.nav__Item {color: black;}
.logo {
    width: 24px;
}
.navI {padding: 8px;}
.logo__Div {padding:8px;}
.navI:hover {background-color: #D9D9D9; border-radius: 5px;}
.nav__Item:hover {color:black;}
.logo__Div:hover {background-color: #D9D9D9; border-radius: 10px;}



h1, h3 {
    font-family: 'Federo', sans-serif;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 400;
}
.titulo {
    font-size: 4.5em;
    margin-top: 32px;
}



.landing {
    color: white;
    background-image: url(../imagenes/fondola.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 104px;
}
.landing__Subt {
    font-size: 2em;
    margin-top: 16px;
}
.landing__Nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 176px;
    margin-bottom: 272px;
}
.l__NavItem {color:white;}
.l__NavI {padding: 8px;}
.l__Logo {padding:8px;}
.l__NavI:hover {background-color: #A3A3A3; border-radius: 5px;}
.l__NavItem:hover {color:white;}
.l__Logo:hover {background-color: #A3A3A3; border-radius: 10px;}



.about__ST {
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 16px;
}
.about__P {
    font-size: 2.25em;
    margin-top: 24px;
}
.about__Redes {
    width: 24px;
    margin-top: 72px;
}



label {font-size: 2em;}
input[type=submit] {
    text-transform: uppercase;
    font-weight: 600;
}
.contact__Redes {
    width: 32px;
    margin-top: 24px;
}



.galeria__Img {border: 3px solid #858585;}
.galeria__Titulo {font-size: 3.5em; margin-top: 16px;}
.galeria__Texto {font-size: 2.5em; margin-top: 4px;}





@media (min-width: 768px) {
    body {font-size: 70%; margin: 16px 32px;}
    
    .navigation {padding-bottom: 16px; border-bottom: 2px solid #858585;}
    .logo {width: 56px;}

    .titulo {margin-top: 72px;}

    .landing {margin-top: 176px;}
    .landing__Subt {margin-top: 40px;}
    .landing__Nav {margin-top: 184px; margin-bottom: 432px;}

    .about__ST {margin-top: 40px;}
    .about__P {margin-top: 48px; font-size: 1.5em;}
    .about__Redes {width: 48px; margin-top: 80px;}

    label {font-size: 1.5em;}
    .contact__Redes {width: 40px; margin-top: 40px;}

    .galeria__Titulo {font-size:2.5em;}
    .galeria__Texto {font-size: 1.5em;}
}





@media (min-width: 1200px) {
    body {font-size: 100%; margin: 16px 40px;}
    
    .logo {width: 72px;}

    .titulo {margin-top: 88px;}

    .landing {margin-top: 192px;}
    .landing__Subt {margin-top: 24px;}
    .landing__Nav {margin-top: 96px;}

    .about__ST {margin-top: 56px;}
    .about__P {margin-top: 64px;}
    .about__Redes {width: 56px; margin-top: 112px;}
    .about__Redes:hover {transform: scale(0.8, 0.8);}

    label {font-size: 1em;}
    input[type=submit]:hover {background-color: #858585;}
    .contact__Redes {width: 48px;}
    .contact__Redes:hover {transform: scale(0.8, 0.8);}
}