.about {
    p {font-size: 2.5em;}
    .primerP {margin-top: 24px;}
}

form {
    margin-top: 8px;
    label {font-size: 2em;}
    input[type=submit] {
        text-transform: uppercase;
        font-weight: 600;
        background-color: black;
        border: none;
    }
    input[type=submit]:hover {background-color: $g_oscuro;}
}



@media (min-width: 768px) {

    .about {
        p {font-size: 1.5em;}
        .primerP {margin-top: 48px;}
    }

    form {
        margin-top: 16px;
        label {font-size: 1.2em;}
    }
}

@media (min-width: 1200px) {
    .about {
        .primerP {margin-top: 64px;}
    }

    form {margin-top: 24px;}
}