@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;600&display=swap');

@mixin flex_d($j_c) {
    display: flex;
    justify-content: $j_c;
}

@mixin font_margin($f_size, $m_size) {
    font-size: $f_size;
    margin: $m_size;
}

@mixin font_mtop($f_size, $m_size) {
    font-size: $f_size;
    margin-top: $m_size;
}

$g_oscuro: #858585;



* {margin: 0; padding: 0}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    font-weight: 300;
    @include font_margin(30%, 8px 16px);
}

h1, h2, h3 {
    font-family: 'Federo', sans-serif;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 400;
}

.titulo {@include font_mtop(4.5em, 16px);}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: 300;
    @include font_mtop(3em, 8px);
}

h3 {font-size: 3em;}

.btn-primary {
    background-color: black;
    border: none;
}



@media (min-width: 768px) {
    body {
        @include font_margin(70%, 16px 32px);
    }

    .titulo {margin-top: 56px;}

    .subtitulo {margin-top: 24px;}
}



@media (min-width: 1200px) {
    body {
        @include font_margin(100%, 16px 40px);
    }

    .titulo {margin-top: 72px;}

    .subtitulo {margin-top: 40px;}
}