.landing {
    color: white;
    background-image: url(../imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    .navbar {
        a {color: $g_oscuro;}
        a:hover {color: #D9D9D9;}
    }

    h1{margin-top: 112px;}
}



@media (min-width: 768px) {
    .landing {
        h1{margin-top: 176px;}
        h2 {margin-top: 40px;}
    }
}



@media (min-width: 1200px) {
    .landing {
        h1 {margin-top: 192px;}
        h2 {margin-top: 24px;}
    }
}